# dependencies
node_modules/

# env
.env
.env.local

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store

# vite
.vite

# vscode
.vscode/

# idea
.idea/

# cache
.cache/
